/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

#content {
  margin-top: 80px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.form-profile {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.span-with-margin {
  margin-right: 5px;
}

.link-without-underline {
  text-decoration: none !important;
}

.post {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}
.latest_post_title{
  padding: 50px 0 20px 50px;
}

.f6 {
  font-size: 12px !important;
}

.text-grey {
  color: #9199a1 !important;
}
.home{
  width: 100%;
  margin: 0;
  padding: 0;
}
.home_banner{
  background-color: #ffc017;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 50px 80px;
  border-bottom: 1px solid #000;
}
.home_title{
  font-size: 60px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.home_title_para{
  margin-top: 50px;
  color: #292929;
  font-size: 18px;
  font-weight: 500;
}
.home_btn{
  background-color: transparent;
  border: 1px solid #000;
  padding: 8px 15px;
  color: #000;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
}
.home_btn:hover{
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
.navbar{
  background-color: #ffc017;
  height: 80px;
  border-bottom: 1px solid #000;
}
.navbar-brand{
  font-size: 2rem;
}
.navbar-inverse .navbar-brand{
  color: #000;
}
.navbar-inverse .navbar-brand:hover{
  color: #000;
}
.navbar-inverse .navbar-nav .nav-link{
  color: #000;
  float: right;
}
.navbar-inverse .navbar-nav .nav-link:hover{
  color: #000;
}
.btn_sign_in{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 25px;
}
.home_banner_image{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: -20px;
  padding: 0;
}
