/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

#content {
  margin-top: 80px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.form-profile {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.span-with-margin {
  margin-right: 5px;
}

.link-without-underline {
  text-decoration: none !important;
}

.post {
  max-width: 800px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}
.latest_post_title{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 30px 0;
}

.f6 {
  font-size: 12px !important;
}

.text-grey {
  color: #9199a1 !important;
}
.home{
  width: 100%;
  margin: 0;
  padding: 0;
}
.home_banner{
  background-color: #ffc017;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 50px 80px;
  border-bottom: 1px solid #000;
}
.home_title{
  font-size: 60px;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.home_title_para{
  margin-top: 50px;
  color: #292929;
  font-size: 18px;
  font-weight: 500;
}
.home_btn{
  background-color: transparent;
  border: 1px solid #000;
  padding: 8px 15px;
  color: #000;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
}
.home_btn:hover{
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}
.navbar{
  background-color: #ffc017;
  height: 80px;
  border-bottom: 1px solid #000;
}
.navbar-brand{
  font-size: 2rem;
}
.navbar-inverse .navbar-brand{
  color: #000;
}
.navbar-inverse .navbar-brand:hover{
  color: #000;
}
.navbar-inverse .navbar-nav .nav-link{
  color: #000;
  float: right;
}
.navbar-inverse .navbar-nav .nav-link:hover{
  color: #000;
}
.btn_sign_in{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 25px;
}
.home_banner_image{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: -20px;
  padding: 0;
}

/* About Us */

.main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffc017;
  
}
.right{
  width: 50%;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
iframe{
  border: none;
  width: 100%;
}
.left{
  padding: 95px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.left p {
  font-size: 25px;
  
}
.heading{
  font-size: 80px;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  line-height:4vmax;
  margin: 40px;
  padding: 80px;
}
.team{
  display: flex;
  margin: 40px;
  padding: 30px;
  justify-content: space-around;
}
.intro-box{
  border: none;
  border-radius: 10%;
  padding: 30px;
  text-align: center;
  width: 40%;
  box-shadow: 4px 10px 47px 0px rgba(212,206,206,0.7);
-webkit-box-shadow: 4px 10px 47px 0px rgba(212,206,206,0.7);
-moz-box-shadow: 4px 10px 47px 0px rgba(212,206,206,0.7);
}
.avatar{
  display: block;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.team-heading{
  text-align: center;
}
.row.blog {
  padding: 16px;
}
.blog_title, .blog_pic {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* .blog{
  border-radius: 15%;
  background-color: #e6e6e6;
  
 
} */
.blog_title h3{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.author{
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;

}
.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  font-size: 1rem;
  margin: 0;
}
.p_container{
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #edebeb;
  -moz-box-shadow: 5px 5px 5px #edebeb;
  box-shadow: 7px 5px 5px #edebeb;
}